.nav {
  display: flex;
  flex-flow: column;
  margin: 20px;
}

a {
  margin-bottom: 10px;

  button {
    width: 100px;

  }

  &.active {
    button {
      border-bottom: 5px solid rebeccapurple;
    }
  }
}