.nav {
  display: flex;
  flex-flow: column;
  margin: 20px;
}

a {
  margin-bottom: 10px;

  button {
    width: 150px;

  }

  &.active {
    button {
      border-right: 5px solid var(--mui-palette-secondary-main);
    }
  }
}